<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>

        <h1>Home Page</h1>
        <h3>already an user?
        </h3>
        <a href="/users/profile">Go To Profile</a>

        <h3>Do not have an accounT?</h3>
        <a href="/users/sign-up">Sign Up</a>
    </body>
</html>