<link rel="stylesheet" href="/css/users.css">
<h1> Users Profile page </h1>

<% if(user.id == profile_user.id) { %>
    <!-- if user matches then show the form -->
    <h4>want to change password?</h4>
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="password" name="password" placeholder="New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Change Password">
    </form>

<% } %>